
# Artefacts Supabase locaux
# Dépendances / build
# Fichiers de travail temporaires (batches Phase 2)
# L'app dans app/ est autonome et n'en a pas besoin à l'exécution.
# Le dossier app/ (l'application) est versionné ; ses propres ignores sont dans app/.gitignore
# ⚠️ Sources privées / sous copyright — NE PAS publier sur un dépôt public.
*.local
*.pdf
.DS_Store
.superpowers/
00 FSP *.md
01 Anki INSTRUCTIONS.md
Fachbegriffe_FSP.csv
anki_FSP.txt
app/.env
app/.env.local
app/scratchpad/
app/supabase/.branches
app/supabase/.env
app/supabase/.temp
dist
node_modules
